.italic {
    font-style: italic;
}

.color-gray {
    color: gray;
}

.white-purple {
    color: white; 
    background-color: purple;
    text-align: center;
}

.bold {
    font-weight: 700;
}

.font-Arial {
    font-family: Arial;
}